CREATE DATABASE IF NOT EXISTS {{ DBName }};
CREATE USER IF NOT EXISTS '{{ DBUser }}'@'localhost' IDENTIFIED BY '{{ DBPassword }}';
GRANT ALL ON {{ DBName }}.* TO '{{ DBUser }}'@'localhost';
FLUSH PRIVILEGES;
